<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="User" verbose="1" >
    <test name="UserTests" >
        <classes>
            <class name="test.bookStore.LoginPageTest">
                <parameter name="name" value="InnaD"></parameter>
                <parameter name="password" value="1234!NNa"></parameter>
            </class>
        </classes>
    </test>
</suite>